JSONPatch changes passed in dictionary during Op failure in violation of RFC6902

### Patch with multiple ops should return the dictionary unchanged

https://datatracker.ietf.org/doc/html/rfc6902#section-5

```
If a normative requirement is violated by a JSON Patch document, or
   if an operation is not successful, evaluation of the JSON Patch
   document SHOULD terminate and application of the entire patch
   document SHALL NOT be deemed successful.

   See [[RFC5789], Section 2.2](https://datatracker.ietf.org/doc/html/rfc5789#section-2.2) for considerations regarding handling
   errors when JSON Patch is used with the HTTP PATCH method, including
   suggested status codes to use to indicate various conditions.

   Note that the HTTP PATCH method is atomic, as per [[RFC5789](https://datatracker.ietf.org/doc/html/rfc5789)].
   Therefore, the following patch would result in no changes being made
   to the document at all (because the "test" operation results in an
   error):

   [
     { "op": "replace", "path": "/a/b/c", "value": 42 },
     { "op": "test", "path": "/a/b/c", "value": "C" }
   ]
```

# Code that demonstrates the problem

```python
import copy
from jsonpath import JSONPatch, JSONPatchError, JSONPatchTestFailure
test_dict = {"a":{"b":{"c": 1}}}
patcher = JSONPatch(ops=[
      { "op": "replace", "path": "/a/b/c", "value": 42 },
      { "op": "test", "path": "/a/b/c", "value": "C" }
    ])
test_copy = copy.deepcopy(test_dict)
patcher.apply(test_dict) # raises JSONPatchTestFailure as expected
test_dict == test_copy  # resolves to False
False
print(test_dict)
{'a': {'b': {'c': 42}}}
print(test_copy)
{'a': {'b': {'c': 1}}}
```

Hi @msfrucht,

Yeah, I chose the current behaviour to avoid possibly unnecessary and potential expensive deep copies of data passed to `apply()`. The idea being that only the caller knows if a copy is needed and how best to perform that copy if it is.

I'm open to the idea of adding an option to `apply()`, something like `apply(data, deep_copy=False)`, which we can change to default to `True` in a later major release.

When `deep_copy=True`, we might need to rethink the raising of `JSONPatchTestFailure`. Silently returning the input data unchanged might be better.

Would appreciate it. The difference from the RFC was a bit of a surprise. I am ok with any of the above as long as it gets documented and strict adherence to the RFC is available as option or default.

Another approach might be a different function as wrapper to avoid breaking behavior `patcher.apply_strict(data)` as an example.

Thanks @msfrucht. `patch.atomic()` and `JSONPatch.atomic()` are available in version 2.1.0, now released.

A thought: `atomic()` solves the atomicity issue, but mutating the caller’s original object can still lead to unexpected side effects. A safer approach may be to preserve the input object and return a new modified object instead.

```
>>> test_copy
{'a': {'b': {'c': 1}}}
>>> test_dict
{'a': {'b': {'c': 1}}}
>>> 
>>> patcher = JSONPatch(ops=[
...       { "op": "replace", "path": "/a/b/c", "value": 43 },
...       { "op": "test", "path": "/a/b/c", "value": 43 }
...     ])
>>> out = patcher.atomic(test_dict)
>>> out
{'a': {'b': {'c': 43}}}
>>> test_dict
{'a': {'b': {'c': 43}}}
>>> out == test_dict
True
>>> id(out) == id(test_dict)       <----- same object
True
>>> 
```

expecting `out` to be different object

Hi @Sandeep-Prajapati,

I did write `atomic()` in a non-mutating way first, then changed it after convincing myself that both `apply()` and `atomic()` are essentially mutating operations.

We could add a third, non-mutating method for convenience. Maybe `JSONPatch.pure()`? Equivalent to:

```python
patch = JSONPatch([
    { "op": "replace", "path": "/a/b/c", "value": 43 },
    { "op": "test", "path": "/a/b/c", "value": 43 }
 ])

data = {'a': {'b': {'c': 1}}}
patched_data = patch.apply(copy.deepcopy(data))
```

(Edit: I think I’d prefer to keep `copy.deepcopy` explicit and visible)

This `copy.deepcopy(data)` explicit is fine. only it add extra overhead/care
The major concern is the mutation of original object

It would be nice to have `JSONPatch.patch()` which is both atomic and non-mutating.

then, it will be similar to builtin functions:
```
sentence = "Ten line completed."
```

Scenario 1: new object
```
updated_sentence = sentence.replace("line", "lines")
updated_sentence
'Ten lines completed.'
sentence
'Ten line completed.'
```

Scenario 2: override original
```
sentence = sentence.replace("line", "lines")
sentence
'Ten lines completed.'
```


👍 I've opened issue #131 for tracking inclusion of non-mutation patch application. 