`patch.apply()` is not atomic

Thank you for creating `python-jsonpath`!

The third paragraph in [section 5 of RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902#section-5) states that if any patch operation fails, none of them is applied. When trying out the test code below, I found that operations are applied up to the failing operation.

To be honest, I might be misguided at addressing this here, as the RFC's specific wording is: "Note that the HTTP PATCH method is atomic, as per [[RFC5789](https://datatracker.ietf.org/doc/html/rfc5789)]." -- this possibly implies that HTTP PATCH is responsible for the atomicity, not the algorithm itself.

```python
from jsonpath import patch
from jsonpath.exceptions import JSONPatchTestFailure

patch_operations = [
    {"op": "add", "path": "/b", "value": 2},
    {"op": "test", "path": "/", "value": "this_will_fail"},
]

data = {"a": 1}
try:
    patch.apply(patch_operations, data)
except JSONPatchTestFailure:
    print("test says no")
    pass
print(data)
# should be {'a': 1}, but is {'a': 1, 'b': 2}
```

Hi @schuderer,

At the moment we're deliberately leaving it up to the caller to decide if data should be copied (and how it should be copied) before trying to apply a patch. We could add an option to `apply()` though, for convenience, which would be roughly equivalent to:

```python
from copy import deepcopy

from jsonpath import patch
from jsonpath.exceptions import JSONPatchTestFailure

patch_operations = [
    {"op": "add", "path": "/b", "value": 2},
    {"op": "test", "path": "/", "value": "this_will_fail"},
]

data = {"a": 1}

def try_patch(ops, data):
    try:
        return patch.apply(ops, deepcopy(data))
    except JSONPatchTestFailure:
        return data


data = try_patch(patch_operations, data)

print(data)
```